beautifulsoup4>=4.4.1
blinker>=1.4
click>=6.6
coverage>=4.2
cssselect>=0.9.1
decorator>=4.0.10
defusedxml>=0.4.1
Flask>=0.11.1
Flask-Login>=0.3.2
Flask-Mail>=0.9.1
Flask-OpenID>=1.2.5
Flask-SQLAlchemy>=2.1
Flask-WhooshAlchemy>=0.56
Flask-WTF>=0.13.1
get>=0.0.20
guess-language>=0.2
html5lib>=0.999999999
itsdangerous>=0.24
Jinja2>=2.8
MarkupSafe>=0.23
oauthlib>=2.0.0
pbr>=1.10.0
peewee>=2.8.2
post>=0.0.12
public>=0.0.37
python-dateutil>=2.4.2
python3-openid>=3.0.10
query-string>=0.0.11
queuelib>=1.4.2
requests>=2.11.1
requests-oauthlib>=0.7.0
requests-toolbelt>=0.7.0
setupfiles>=0.0.13
six>=1.10.0
sqlparse>=0.2.2
tabulate>=0.7.5
Tempita>=0.5.2
Twisted>=15.5.0
virtualenv>=15.0.3
w3lib>=1.13.0
webencodings>=0.5
Werkzeug>=0.11.11
Whoosh>=2.7.4
WTForms>=2.1
zope.interface>=4.1.3
