button.nav_button{
    align-content: center;
    margin-top: 14px;
    margin-left: 5px;
    border-style: hidden;
    border-radius:  30px;
    box-shadow: grey;

}
body#entire_page_content{
    background: url("/static/img/mars_map_with_poles.jpg");
    background-position: center;
    background-size: auto;
}
.navbar-default {
  background-color: #616161;
  border-color: #947352;
}
.navbar-default .navbar-brand {
  color: #ddcc94;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #644624;
}
.navbar-default .navbar-text {
  color: #ddcc94;
}
.navbar-default .navbar-nav > li > a {
  color: #ddcc94;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #644624;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #644624;
  background-color: #947352;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #644624;
  background-color: #947352;
}
.navbar-default .navbar-toggle {
  border-color: #947352;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #947352;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ddcc94;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ddcc94;
}
.navbar-default .navbar-link {
  color: #ddcc94;
}
.navbar-default .navbar-link:hover {
  color: #644624;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ddcc94;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #644624;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #644624;
    background-color: #947352;
  }
}