div.rover_bio_pic_data{
    /*border: groove;*/
    /*border-radius: 10px;*/
}
div.main_rover_pic{
    border: groove;
    border-radius: 30px;

}
img.rover_portrait{
    border: double;
    border-radius: 15px;
}
table.rover_biopic{
    /*border: groove;*/
    /*border-radius: 30px;*/
}
tr.biopic_row{
    align-content: center;
    border: double;
    border-radius: 30px;
}
td.rover_td{
    align-content: center;
    border: double;
    border-radius: 30px;
}