{% extends 'base.html' %}
{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/rover_home_page.css') }}">
{#TODO: WHEN THIS IS PASSED DB DATA#}
    <div class="md-col-5">
        <div class='rover_bio_pic_data'>
            <table class="rover_biopic">
                <tr class="biopic_row">
                    <th colspan="3">{{ rover_name }}</th>
                </tr>
                <tr class="biopic_row">
                    <td rowspan="4">
                            {% if  rover_name  is equalto 'spirit' %}
                                <img class="rover_portrait" src={{ url_for('static',filename='./img/Spirit_Portrait.jpg') }}>{% endif %}
                            {% if  rover_name is equalto 'curiosity' %}
                                <img class="rover_portrait" src={{ url_for('static',filename='./img/Curiosity_Self_Portrait.jpg') }}>{% endif %}
                            {% if rover_name  is equalto 'opportunity' %}
                                <img class="rover_portrait" src={{ url_for('static',filename='./img/Opportunity_Portrait.jpg') }}>{% endif %}
                    </td>
{#                name = CharField(max_length=15, unique=True)
    launch_date = DateField
    landing_date = DateField
    max_date = DateField
    total_photos = IntegerField
    status = CharField(max_length=20)
    max_sol = IntegerField#}
                    <td class="rover_td"><p>THIS IS WHERE LAUNCH DATE GOES</p></td>
                    <td class="rover_td"><p>TOTAL NUMBER OF PICS ROVER HAS TAKEN TO DATE</p></td>
                </tr>
                <tr class="biopic_row">
                    <td class="rover_td"><p>THIS IS WHERE THE LANDING DATE GOES</p></td>
                    <td class="rover_td"><p>THIS IS WHERE THE LANDING DATE GOES</p></td>
                </tr>
                <tr class="biopic_row">
                    <td class="rover_td"><p>THIS IS WHERE THE CURRENT DATE WILL GO</p></td>
                    <td class="rover_td"><p>THIS IS WHERE THE CURRENT ROVER STATUS GOES</p></td>
                </tr>
                <tr class="biopic_row">
                    <td class="rover_td"><p>Number of Martian Days spent on the ground</p></td>
                    <td class="rover_td">
                        <form action="/photos" method="post">
                            <input type="text" value="{{ rover_name }}" hidden="hidden">
                            <button type="submit">Search This Rovers Photo Archive</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}